*{margin:0; padding:0;}
div{
	padding:0;
	}
	
section p{
	padding:0;
	}
	
section{
	padding-top:0;
	height:1380px;
	}
	
div p{
	padding:0%;
	margin-left:8%;
	margin-right:8%;
	}
	
div img{
	width:150px;
	min-width:20%;
	height:80px;
	min-height:10%;
	margin:0;
	padding:0;	
	}
	
#port{
	padding-top:5%;
	}
	
#left{
	height:1360px;
	}
	
#right{
	height:1360px;
	}